    <!-- About Section -->
<style type="text/css">
#about ul {
list-style-type:none
}
</style>
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>AdminFaces</h2>
              <br/>
                 <p><a href="https://github.com/adminfaces"><strong>AdminFaces</strong></a> is an open source project which integrates <a href="http://primefaces.org/">Primefaces</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="https://almsaeedstudio.com/themes/AdminLTE/index2.html/">Admin LTE</a> in order to create fully responsive and mobile ready <a href="https://javaserverfaces.java.net/">JSF</a> applications.</p>

<p>AdminFaces is composed by the following projects:</p>

<ul>
  <li><a href="http://github.com/adminfaces/admin-theme">Admin Theme</a>: A <a href="http://primefaces.org/themes">Primefaces theme</a> based on Bootstrap and Admin LTE where Primefaces components are customized to look like and work with mentioned frameworks.</li>
  <li><a href="http://github.com/adminfaces/admin-template">Admin Template</a>: It’s a fully responsive <a href="https://javaserverfaces.java.net/">Java Server Faces</a> admin template which is also based on Bootstrap and Admin LTE.</li>
  <li><a href="http://github.com/adminfaces/admin-showcase">Admin Showcase</a>: A web application which demonstrates AdminFaces main features and components.</li>
  <li><a href="http://github.com/adminfaces/admin-designer">Admin Designer</a>: It’s the same showcase application with Admin Theme and Admin Template bundled (instead of being library dependencies) in order to make it easier to customize the theme and the template.</li>
  <li><a href="http://github.com/adminfaces/admin-starter">Admin Starter</a>: A simple starter project to get you started with AdminFaces.</li>
  <li><a href="http://github.com/adminfaces/admin-mobile">Admin Mobile</a>: Admin showcase mobile application using Android webview.</li>
</ul>
              </div>
        </div>
    </section>


